{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Salary Payment </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'student/images/favicon.png' %}">
    <!-- Datatable -->
    <link href="{% static 'student/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="{% static 'student/css/style.css' %}" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="panel" class="brand-logo">
                <img class="logo-abbr" src="{% static 'student/images/logo.png' %}" alt="">
                <img class="logo-compact" src="{% static 'student/images/logo-text.png' %}" alt="">
                <p class="brand-title" >Institute</p>
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">                                                                
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">                               
                            <div class="dropdown-menu dropdown-menu-right">                                   
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- Profile -->
                                    <a href="profile" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <!-- Login out -->
                                    <a href="login" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <!-- <li><a href="index.html"><i class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
                    </li> -->
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
                        <ul aria-expanded="false">                           
                            <li><a href="panel">Main Dashboard </a></li>
                        </ul>
                    </li>

                    <li class="nav-label">Apps</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-app-store"></i><span class="nav-text">Apps</span></a>
                        <ul aria-expanded="false">
                            <li><a href="profile">Profile</a></li> 
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Score</a>
                                <ul aria-expanded="false">
                                    <li><a href="terminfo">Term Information</a></li>
                                    <li><a href="print">Print Degree</a></li>                                
                                </ul>
                            </li>    
                            <li><a href="salary">Pay tuition</a></li>                     
                        </ul>
                    </li>                                                         
                    <li class="nav-label">Extra</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-copy-06"></i><span class="nav-text">Pages</span></a>
                        <ul aria-expanded="false">                         
                            <li><a href="login">Log Out</a></li>
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                                <ul aria-expanded="false">
                                    <li><a href="400" target="Blank">Error 400</a></li>
                                    <li><a href="403" target="Blank">Error 403</a></li>
                                    <li><a href="404" target="Blank">Error 404</a></li>
                                    <li><a href="500" target="Blank">Error 500</a></li>
                                    <li><a href="503" target="Blank">Error 503</a></li>
                                </ul>
                            </li>    
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
         <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Hi, welcome back!</h4>
                            <p class="mb-0">SalaryPayment</p>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Layout</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Blank</a></li>
                        </ol>
                    </div>
                </div>

                <div class="row">                    
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="settings-form">
                                    <h4 class="text-primary">Term Price</h4>
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">                                               
                                                <div>Total price</div>
                                            </div>                                           
                                        </div>                                        
                                        <button class="btn btn-primary" type="submit">Pay</button>
                                    </form>                                                                                                                        
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>

    </div>
</div>
<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script src="{% static 'student/vendor/global/global.min.js' %}"></script>
<script src="{% static 'student/js/quixnav-init.js' %}"></script>
<script src="{% static 'student/js/custom.min.js' %}"></script>

<script src="{% static 'student/vendor/chartist/js/chartist.min.js' %}"></script>

<script src="{% static 'student/vendor/moment/moment.min.js' %}"></script>
<script src="{% static 'student/vendor/pg-calendar/js/pignose.calendar.min.js' %}"></script>


<script src="{% static 'student/js/dashboard/dashboard-2.js' %}"></script>                
<!-- Circle progress -->
    

</body>

</html>